<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/FormStyles.css">
</head>


<body>

    <div class="container container-form-familia mt-5">
        <h2 class="text-center mb-4">Formulario de familia</h2>
        <form>

            <div class="mb-3">
                <label class="form-label">1. ¿Qué tan satisfecho/a estás con tu relación actual con tu familia?</label>
                <select class="form-select" name="pregunta1" required>
                    <option value="" disabled selected>Selecciona un número</option>

                    <script>
                        for (let i = 1; i <= 10; i++) {
                            document.write(`<option value="${i}">${i}</option>`);
                        }
                    </script>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">2. ¿Qué tan presente y unido/a te sientes con tu familia?</label>
                <select class="form-select" name="pregunta2" required>
                    <option value="" disabled selected>Selecciona un número</option>
                    <script>
                        for (let i = 1; i <= 10; i++) {
                            document.write(`<option value="${i}">${i}</option>`);
                        }
                    </script>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">3. ¿Qué tan buena es la comunicación dentro de tu familia?</label>
                <select class="form-select" name="pregunta3" required>
                    <option value="" disabled selected>Selecciona un número</option>
                    <script>
                        for (let i = 1; i <= 10; i++) {
                            document.write(`<option value="${i}">${i}</option>`);
                        }
                    </script>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">4. ¿Qué tan apoyado/a y comprendido/a te sientes por tu familia?</label>
                <select class="form-select" name="pregunta4" required>
                    <option value="" disabled selected>Selecciona un número</option>
                    <script>
                        for (let i = 1; i <= 10; i++) {
                            document.write(`<option value="${i}">${i}</option>`);
                        }
                    </script>
                </select>
            </div>


            <div class="mb-3">
                <label class="form-label">5.  ¿Qué tan importante consideras a tu familia en tu felicidad y bienestar general?</label>
                <select class="form-select" name="pregunta5" required>
                    <option value="" disabled selected>Selecciona un número</option>
                    <script>
                        for (let i = 1; i <= 10; i++) {
                            document.write(`<option value="${i}">${i}</option>`);
                        }
                    </script>
                </select>
            </div>


            <div class="text-center">
                <button type="button" class="btn btn-primary" onclick="location.href='FormSalud.html'">Continuar</button>
            </div>
        </form>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>